/* 
    Landing Page Requirement:
    > Header
    > Headline
    > Layanan
    > Feature
    > Portfolio
    > Footer
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html, body{
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

*::before,
*, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: solid 1px red; */
}

.row{
    margin: 0;
}

p{
    margin: 0;
}

nav img{
    width: 50px;
    height: auto;
}

/* Viewport */

/* Desktop */
nav, #sahabat-desktop, #sahabat-footer{
    display: block;
    max-width: 1600px;
    margin: 0% auto;
}

#sahabat-desktop #headline .carousel-indicators > li {
    border-radius: 50%;
    height: 10px;
    width: 10px;
    background-color: #0064D2;
}

#sahabat-desktop #headline .carousel-indicators {
    bottom:-50px;
}

#sahabat-desktop #headline .carousel-inner {
    margin-bottom:50px;
}

#sahabat-desktop #layanan{
    padding-top: 20px;
    text-align: center;
}

#sahabat-desktop #layanan img{
    width: 8vw;
    height: auto;
}

#sahabat-desktop #layanan h2{
    padding: 20px 0px;
    font-size: 2em;
    line-height: 36px;
    font-weight: bold;
    color: #3E3E3E;
}

#sahabat-desktop #layanan h3{
    padding-top: 15px;
    font-size: 1.5em;
    line-height: 36px;
    font-weight: bold;
    color: #0064D2;
}

#sahabat-desktop #layanan p{
    padding-bottom: 20px;
    font-size: 1.1em;
    line-height: 24px;
    color: #606060;
}

#sahabat-desktop #feature{
    padding-top: 20px;
    text-align: center;
}

#sahabat-desktop #feature img{
    width: 30vw;
    height: auto;
}

#sahabat-desktop #feature a img{
    width: 10vw;
    height: auto;
}

#sahabat-desktop #feature h2{
    padding: 20px 0px;
    font-size: 2em;
    line-height: 36px;
    font-weight: bold;
    color: #3E3E3E;
}

#sahabat-desktop #feature h3{
    padding-top: 15px;
    font-size: 1.5em;
    line-height: 36px;
    font-weight: bold;
    color: #0064D2;
}

#sahabat-desktop #feature p{
    padding-bottom: 20px;
    font-size: 1.1em;
    line-height: 24px;
    color: #606060;
}

#sahabat-desktop #tutor{
    padding-top: 20px;
    text-align: center;
}

#sahabat-desktop #tutor img{
    width: 70vw;
    height: auto;
    /* box-shadow: 1px 2px 3px 1px rgba(46, 46, 46, 0.5); */
}

#sahabat-desktop #tutor h2{
    padding: 20px 0px;
    font-size: 2em;
    line-height: 36px;
    font-weight: bold;
    color: #3E3E3E;
}

#sahabat-desktop #tutor h3{
    padding-top: 15px;
    font-size: 1.5em;
    line-height: 36px;
    font-weight: bold;
    color: #0064D2;
}

#sahabat-desktop #tutor p{
    padding-bottom: 20px;
    font-size: 1.1em;
    line-height: 24px;
    color: #606060;
}

#sahabat-desktop #tutor a{
    text-decoration: none;
    padding: 10px 15px;
    font-size: 1em;
    background-color: #0064D2;
    border-radius: 12px;
    color: #ffffff;        
    transition: 0.5s;
}

#sahabat-desktop #tutor a:hover{
    background-color: #ffffff;
    border-radius: 12px;
    border: solid 1px #0064D2;
    color: #0064D2;  
    transition: 0.5s;      
}

#sahabat-footer{
    background-color: #EDEDED;
    margin-top: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

#sahabat-footer img{
    width: 5vw;
    height: auto;
    padding-bottom: 20px;
}

#sahabat-footer a{
    font-size: 1.2em;
    font-weight: 600;
    color: #555555;
    padding: 20px 0px;
}

#sahabat-footer .title{
    font-size: 1.2em;
    font-weight: 600;
    color: #555555;
    margin-top: 20px;
}

#sahabat-footer .info{
    font-size: 1em;
    color: #606060;
}

#sahabat-footer i{
    color: #0064D2;
    font-size: 50px;
    font-weight: normal;
    padding-left: 5px;
    /* padding: 15px 20px; */
}

#sahabat-footer .copyright{
    color: #0064D2;
    text-align: center;
    font-size: 0.9em;
}

#sahabat-footer .copyright a{
    color: #0064D2;
}

/* Tablet */
#sahabat-tablet{
    display: none;
}

/* Mobile */
#sahabat-mobile{
    display: none;
}

@media screen and (max-width: 1600px){

    /* General Architecture */
    /* Desktop */
    #sahabat-desktop{
        display: block;
        max-width: 1600px;
    }

    #sahabat-desktop .slider-bg{
        background-color: #0064D2;
        /* min-width: 100vw; */
        max-width: 1600px;
    }

    #sahabat-desktop #headline{
        max-width: 720px;
        margin: 0% auto;
    } 

    #sahabat-desktop #headline .carousel-indicators > li {
        border-radius: 50%;
        height: 10px;
        width: 10px;
        background-color: #0064D2;
    }

    #sahabat-desktop #headline .carousel-indicators {
        bottom:-50px;
    }

    #sahabat-desktop #headline .carousel-inner {
        margin-bottom:50px;
    }

    #sahabat-desktop .carousel-control-prev {
        margin-left: -100px;
        font-size: 50px;
    }

    #sahabat-desktop .carousel-control-next-icon, .carousel-control-prev-icon {
        width: 50px;
        height: 80px;
    }
      
    #sahabat-desktop  .carousel-control-next {
        margin-right: -100px;
    }

    #sahabat-desktop #layanan{
        padding-top: 20px;
        text-align: center;
    }

    #sahabat-desktop #layanan img{
        width: 15vw;
        height: auto;
    }

    #sahabat-desktop #layanan h2{
        padding: 20px 0px;
        font-size: 1.8em;
        line-height: 36px;
        font-weight: bold;
        color: #3E3E3E;
    }

    #sahabat-desktop #layanan h3{
        padding-top: 15px;
        font-size: 1.5em;
        line-height: 36px;
        font-weight: bold;
        color: #0064D2;
    }

    #sahabat-desktop #layanan p{
        padding-bottom: 20px;
        font-size: 1.1em;
        line-height: 24px;
        color: #606060;
    }

    #sahabat-desktop #feature{
        padding-top: 20px;
        text-align: center;
    }

    #sahabat-desktop #feature img{
        width: 30vw;
        height: auto;
    }

    #sahabat-desktop #feature a img{
        width: 15vw;
        height: auto;
    }

    #sahabat-desktop #feature h2{
        padding: 20px 0px;
        font-size: 1.8em;
        line-height: 36px;
        font-weight: bold;
        color: #3E3E3E;
    }

    #sahabat-desktop #feature h3{
        padding-top: 15px;
        font-size: 1.5em;
        line-height: 36px;
        font-weight: bold;
        color: #0064D2;
    }

    #sahabat-desktop #feature p{
        padding-bottom: 20px;
        font-size: 1.1em;
        line-height: 24px;
        color: #606060;
    }

    #sahabat-desktop #tutor{
        padding-top: 20px;
        text-align: center;
    }

    #sahabat-desktop #tutor img{
        width: 70vw;
        height: auto;
        /* box-shadow: 1px 2px 3px 1px rgba(46, 46, 46, 0.5); */
    }

    #sahabat-desktop #tutor h2{
        padding: 20px 0px;
        font-size: 1.8em;
        line-height: 36px;
        font-weight: bold;
        color: #3E3E3E;
    }

    #sahabat-desktop #tutor h3{
        padding-top: 15px;
        font-size: 1.5em;
        line-height: 36px;
        font-weight: bold;
        color: #0064D2;
    }

    #sahabat-desktop #tutor p{
        padding-bottom: 20px;
        font-size: 1.1em;
        line-height: 24px;
        color: #606060;
    }

    #sahabat-desktop #tutor a{
        text-decoration: none;
        padding: 10px 15px;
        font-size: 1em;
        background-color: #0064D2;
        border-radius: 12px;
        color: #ffffff;        
        transition: 0.5s;
    }

    #sahabat-desktop #tutor a:hover{
        background-color: #ffffff;
        border-radius: 12px;
        border: solid 1px #0064D2;
        color: #0064D2;  
        transition: 0.5s;      
    }

    #sahabat-footer{
        background-color: #EDEDED;
        margin-top: 30px;
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
    }

    #sahabat-footer img{
        width: 10vw;
        height: auto;
        padding-bottom: 20px;
    }

    #sahabat-footer a{
        font-size: 1.2em;
        font-weight: 600;
        color: #555555;
        padding: 20px 0px;
    }

    #sahabat-footer .title{
        font-size: 1.2em;
        font-weight: 600;
        color: #555555;
        margin-top: 20px;
    }

    #sahabat-footer .info{
        font-size: 1em;
        color: #606060;
    }

    #sahabat-footer i{
        color: #0064D2;
        font-size: 50px;
        font-weight: normal;
        padding-left: 5px;
        /* padding: 15px 20px; */
    }

    #sahabat-footer .copyright{
        color: #0064D2;
        text-align: center;
        font-size: 0.9em;
    }
        
    #sahabat-footer .copyright a{
        color: #0064D2;
    }

    /* Tablet */
    #sahabat-tablet{
        display: none;
    }
    
    /* Mobile */
    #sahabat-mobile{
        display: none;
    }
}

@media screen and (max-width: 992px){

    /* General Architecture */
    /* Desktop */
    #sahabat-desktop{
        display: none;
    }

    /* Tablet */
    #sahabat-tablet{
        display: block;
    }

    #sahabat-tablet #headline .carousel-indicators > li {
        border-radius: 50%;
        height: 10px;
        width: 10px;
        background-color: #0064D2;
    }

    #sahabat-tablet #headline .carousel-indicators {
        bottom:-50px;
    }

    #sahabat-tablet #headline .carousel-inner {
        margin-bottom:50px;
    }

    #sahabat-tablet #layanan{
        padding-top: 20px;
        text-align: center;
    }

    #sahabat-tablet #layanan img{
        width: 15vw;
        height: auto;
    }

    #sahabat-tablet #layanan h2{
        padding: 20px 0px;
        font-size: 1.5em;
        line-height: 36px;
        font-weight: bold;
        color: #3E3E3E;
    }

    #sahabat-tablet #layanan h3{
        padding-top: 15px;
        font-size: 1.2em;
        line-height: 36px;
        font-weight: bold;
        color: #0064D2;
    }

    #sahabat-tablet #layanan p{
        padding-bottom: 20px;
        font-size: 0.9em;
        line-height: 24px;
        color: #606060;
    }

    #sahabat-tablet #feature{
        padding-top: 20px;
        text-align: center;
    }

    #sahabat-tablet #feature img{
        width: 30vw;
        height: auto;
    }

    #sahabat-tablet #feature a img{
        width: 20vw;
        height: auto;
    }

    #sahabat-tablet #feature h2{
        padding: 20px 0px;
        font-size: 1.5em;
        line-height: 36px;
        font-weight: bold;
        color: #3E3E3E;
    }

    #sahabat-tablet #feature h3{
        padding-top: 15px;
        font-size: 1.2em;
        line-height: 36px;
        font-weight: bold;
        color: #0064D2;
    }

    #sahabat-tablet #feature p{
        padding-bottom: 20px;
        font-size: 0.9em;
        line-height: 24px;
        color: #606060;
    }

    #sahabat-tablet #tutor{
        padding-top: 20px;
        text-align: center;
    }

    #sahabat-tablet #tutor img{
        width: 70vw;
        height: auto;
        /* box-shadow: 1px 2px 3px 1px rgba(46, 46, 46, 0.5); */
    }

    #sahabat-tablet #tutor h2{
        padding: 20px 0px;
        font-size: 1.5em;
        line-height: 36px;
        font-weight: bold;
        color: #3E3E3E;
    }

    #sahabat-tablet #tutor h3{
        padding-top: 15px;
        font-size: 1.2em;
        line-height: 36px;
        font-weight: bold;
        color: #0064D2;
    }

    #sahabat-tablet #tutor p{
        padding-bottom: 20px;
        font-size: 0.9em;
        line-height: 24px;
        color: #606060;
    }

    #sahabat-tablet #tutor a{
        text-decoration: none;
        padding: 10px 15px;
        font-size: 1em;
        background-color: #0064D2;
        border-radius: 12px;
        color: #ffffff;        
        transition: 0.5s;
    }

    #sahabat-tablet #tutor a:hover{
        background-color: #ffffff;
        border-radius: 12px;
        border: solid 1px #0064D2;
        color: #0064D2;  
        transition: 0.5s;      
    }

    #sahabat-footer{
        background-color: #EDEDED;
        margin-top: 30px;
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
    }

    #sahabat-footer img{
        width: 15vw;
        height: auto;
        padding-bottom: 20px;
    }

    #sahabat-footer a{
        font-size: 1.2em;
        font-weight: 600;
        color: #555555;
        padding: 20px 0px;
    }

    #sahabat-footer .title{
        font-size: 1.2em;
        font-weight: 600;
        color: #555555;
        margin-top: 20px;
    }

    #sahabat-footer .info{
        font-size: 1em;
        color: #606060;
    }

    #sahabat-footer i{
        color: #0064D2;
        font-size: 35px;
        font-weight: normal;
        padding-left: 5px;
        /* padding: 15px 20px; */
    }

    #sahabat-footer .copyright{
        color: #0064D2;
        text-align: center;
        font-size: 0.9em;
    }

    #sahabat-footer .copyright a{
        color: #0064D2;
    }

    /* Mobile */
    #sahabat-mobile{
        display: none;
    }
}

@media screen and (max-width: 576px){

    /* General Architecture */
    /* Desktop */
    #sahabat-desktop{
        display: none;
    }

    /* Tablet */
    #sahabat-tablet{
        display: none;
    }

    /* Mobile */
    #sahabat-mobile{
        display: block;
    }    

    #sahabat-mobile #headline .carousel-indicators > li {
        border-radius: 50%;
        height: 10px;
        width: 10px;
        background-color: #0064D2;
    }

    #sahabat-mobile #headline .carousel-indicators {
        bottom:-50px;
    }

    #sahabat-mobile #headline .carousel-inner {
        margin-bottom:50px;
    }

    #sahabat-mobile #layanan{
        padding-top: 20px;
        text-align: center;
    }

    #sahabat-mobile #layanan img{
        width: 50vw;
        height: auto;
    }

    #sahabat-mobile #layanan h2{
        padding: 20px 0px;
        font-size: 2em;
        line-height: 36px;
        font-weight: bold;
        color: #3E3E3E;
    }

    #sahabat-mobile #layanan h3{
        padding-top: 15px;
        font-size: 1.5em;
        line-height: 36px;
        font-weight: bold;
        color: #0064D2;
    }

    #sahabat-mobile #layanan p{
        padding-bottom: 20px;
        font-size: 1em;
        line-height: 24px;
        color: #606060;
    }

    #sahabat-mobile #feature{
        padding-top: 20px;
        text-align: center;
    }

    #sahabat-mobile #feature img{
        width: 70vw;
        height: auto;
    }

    #sahabat-mobile #feature a img{
        width: 50vw;
        height: auto;
    }

    #sahabat-mobile #feature h2{
        padding: 20px 0px;
        font-size: 2em;
        line-height: 36px;
        font-weight: bold;
        color: #3E3E3E;
    }

    #sahabat-mobile #feature h3{
        padding-top: 15px;
        font-size: 1.5em;
        line-height: 36px;
        font-weight: bold;
        color: #0064D2;
    }

    #sahabat-mobile #feature p{
        padding-bottom: 20px;
        font-size: 1em;
        line-height: 24px;
        color: #606060;
    }

    #sahabat-mobile #tutor{
        padding-top: 20px;
        text-align: center;
    }

    #sahabat-mobile #tutor img{
        width: 70vw;
        height: auto;
        /* box-shadow: 1px 2px 3px 1px rgba(46, 46, 46, 0.5); */
    }

    #sahabat-mobile #tutor h2{
        padding: 20px 0px;
        font-size: 2em;
        line-height: 36px;
        font-weight: bold;
        color: #3E3E3E;
    }

    #sahabat-mobile #tutor h3{
        padding-top: 15px;
        font-size: 1.5em;
        line-height: 36px;
        font-weight: bold;
        color: #0064D2;
    }

    #sahabat-mobile #tutor p{
        padding-bottom: 20px;
        font-size: 1em;
        line-height: 24px;
        color: #606060;
    }

    #sahabat-mobile #tutor a{
        text-decoration: none;
        padding: 10px 15px;
        font-size: 1em;
        background-color: #0064D2;
        border-radius: 12px;
        color: #ffffff;        
        transition: 0.5s;
    }

    #sahabat-mobile #tutor a:hover{
        background-color: #ffffff;
        border-radius: 12px;
        border: solid 1px #0064D2;
        color: #0064D2;  
        transition: 0.5s;      
    }

    #sahabat-footer{
        background-color: #EDEDED;
        margin-top: 30px;
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
    }

    #sahabat-footer img{
        width: 30vw;
        height: auto;
    }

    #sahabat-footer a{
        font-size: 1.2em;
        font-weight: 600;
        color: #555555;
    }

    #sahabat-footer .title{
        font-size: 1.2em;
        font-weight: 600;
        color: #555555;
        margin-top: 20px;
    }

    #sahabat-footer .info{
        font-size: 1em;
        color: #606060;
    }

    #sahabat-footer i{
        color: #0064D2;
        font-size: 40px;
        padding: 15px 20px;
    }

    #sahabat-footer .copyright{
        color: #0064D2;
        text-align: center;
        font-size: 0.9em;
    }

    #sahabat-footer .copyright a{
        color: #0064D2;
    }
}