
<div class="slider-bg">
    <!-- Headline Section -->
    <section id="headline" w3-include-html="../page/desktop/headline.html"></section> 
</div>

<div class="container">
    <!-- Layanan Section -->
    <section id="layanan" w3-include-html="../page/desktop/layanan.html"></section> 

    <!-- Feature Section -->
    <section id="feature" w3-include-html="../page/desktop/fitur.html"></section> 

    <!-- Tutor Section -->
    <section id="tutor" w3-include-html="../page/desktop/tutor.html"></section> 
</div>
