<footer>
    <div class="row align-items-center">
        <div class="col-12 col-sm-3 col-md-3 col-lg-3">
            <img src="../img/logo-sahabat-tutor.png" class="img-fluid rounded" alt="Responsive image">
            <p>Nilai “A” itu mudah!</p>
        </div>
        <div class="col-12 col-sm-3 col-md-3 col-lg-3">
            <a href="#layanan">Layanan</a>
            <br>
            <a href="#feature">Fitur</a>
            <br>
            <a href="#tutor">Tutor</a>
        </div>
        <div class="col-12 col-sm-3 col-md-3 col-lg-3">
            <p class="title">Kontak</p>
            <p class="info">CP Sahabat Tutor : <br> 0888 1111 8888</p>
            <!-- <p class="info">Email : <br> sahabattutor@gmail.com</p> -->
        </div>
        <div class="col-12 col-sm-3 col-md-3 col-lg-3">
            <a target="_blank" href="http://line.me/ti/p/%40jwa9595p ">
                <span>
                    <i class="fab fa-line"></i>
                </span>                
            </a>
            <a target="_blank" href="https://www.instagram.com/sahabattutor/">
                <span>
                    <i class="fab fa-instagram"></i>
                </span>
            </a>
            <a target="_blank" href="https://wa.me/6289614102505">
                <span>
                    <i class="fab fa-whatsapp"></i>
                </span>
            </a>
        </div>
    </div>
</footer>